@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Button styles */
.btn {
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
}

/* Header styles */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 83.5vh;
  background-image: url("../images/banner/banner3.png");
  text-align: right;
}

.header-details {
  width: 525px;
  margin-right: 230px;
}
.btn-contact {
  color: #005fac;
  background-color: #fff;
}

.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 24px;
}

.header-subtitle {
  color: #ffffff;
  margin-bottom: 32px;
}

/* Failure section styles */
.failure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 65vh;
  margin: 130px 322px 130px 206px;
}

.failure-img {
  width: 50%;
  margin-right: 87px;
}

.failure-img,
img {
  width: 80%;
}

.failure-details {
  width: 50%;
}

.failure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}

.failure-subtitle {
  color: #444343;
  /* margin-bottom: 16px; */
}

.failure-items {
  padding: 20px;
  list-style: url("../images/check.png");
}

.failure-item {
  color: #444343;
}

/* Plan section styles */
.plan {
  text-align: center;
  width: 70%;
  margin: auto;
}

.plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 50px;
}

.plan-items {
  display: flex;
  justify-content: space-around;
}

.plan-item {
}

.plan-item-img {
  width: 92.96px;
  height: 92.96px;
}

.plan-item-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan-item-subtitle {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* Positive Mindset section style */
.positive-mindset {
  width: 70%;
  height: 300px;
  padding: 64px;
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  background-repeat: no-repeat;

  border-radius: 8px;
  margin: auto;
  margin-top: 130px;
}

.positive-mindset-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  width: 459px;
  margin-bottom: 24px;
}
